/*
* Reset & Styling CSS
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/

/* Table of Content
==================================================
	#Reset & Basics
	#Basic Styles
	#Site Styles
	#Typography
	#Links
	#Lists
	#Images
	#Buttons
	#Tabs
	#Forms
        #Menu + Logo
	#Misc
        #Sidebar
        #Footer
*/

/* #Reset & Basics (Inspired by E. Meyers)
================================================== */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote {
  &:before, &:after {
    content: '';
    content: none;
  }
}

q {
  &:before, &:after {
    content: '';
    content: none;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* #Basic Styles
================================================== */

body {
  background: #fff;
  font: 16px/1.5em "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
}

/* #Typography
================================================== */

h1, h2, h3, h4, h5, h6 {
  color: #181818;
  font-family: "Georgia", "Times New Roman", Helvetica, Arial, sans-serif;
  font-weight: normal;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit;
}

h1 {
  font-size: 46px;
  line-height: 50px;
}

h2 {
  font-size: 35px;
  line-height: 40px;
}

h3 {
  font-size: 28px;
  line-height: 34px;
}

h4 {
  font-size: 21px;
  line-height: 30px;
}

h5 {
  font-size: 17px;
  line-height: 24px;
}

h6 {
  font-size: 14px;
  line-height: 21px;
}

.subheader {
  color: #777;
}

p {
  margin: 0 0 20px 0;

  img {
    margin: 0;
  }

  &.lead {
    font-size: 21px;
    line-height: 27px;
    color: #777;
  }
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
  color: #333;
}

small {
  font-size: 80%;
}

/*	Blockquotes  */

blockquote {
  font-size: 17px;
  line-height: 24px;
  color: #777;
  font-style: italic;

  p {
    font-size: 17px;
    line-height: 24px;
    color: #777;
    font-style: italic;
  }

  margin: 0 0 20px;
  padding: 9px 20px 0 19px;
  border-left: 1px solid #ddd;

  cite {
    display: block;
    font-size: 12px;
    color: #555;

    &:before {
      content: "\2014 \0020";
    }

    a {
      color: #555;

      &:visited {
        color: #555;
      }
    }
  }
}

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0;
}

/* #Links
================================================== */

a {
  color: #333;
  text-decoration: underline;
  outline: 0;

  &:visited {
    color: #333;
    text-decoration: underline;
    outline: 0;
  }

  &:hover, &:focus {
    color: #000;
  }
}

p a {
  line-height: inherit;

  &:visited {
    line-height: inherit;
  }
}

/* #Lists
================================================== */

ul, ol {
  margin-bottom: 20px;
}

ul {
  list-style: none outside;
}

ol {
  list-style: decimal;
  margin-left: 30px;
}

ul {
  &.square, &.circle, &.disc {
    margin-left: 30px;
  }

  &.square {
    list-style: square outside;
  }

  &.circle {
    list-style: circle outside;
  }

  &.disc {
    list-style: disc outside;
  }

  ul, ol {
    margin: 4px 0 5px 30px;
    font-size: 90%;
  }
}

ol {
  ol, ul {
    margin: 4px 0 5px 30px;
    font-size: 90%;
  }
}

ul {
  ul li, ol li {
    margin-bottom: 6px;
  }
}

ol {
  ol li, ul li {
    margin-bottom: 6px;
  }
}

li {
  line-height: 18px;
  margin-bottom: 12px;
}

ul.large li, li p {
  line-height: 21px;
}

/* #Images
================================================== */

img {
  max-width: 100%;
  height: auto;

  &.scale-with-grid {
    max-width: 100%;
    height: auto;
  }
}

/* #Forms
================================================== */

form, fieldset {
  margin-bottom: 20px;
}

input {
  &[type="text"], &[type="password"], &[type="email"] {
    border: 1px solid #ccc;
    padding: 6px 4px;
    outline: none;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #777;
    margin: 0;
    width: 210px;
    max-width: 100%;
    display: block;
    margin-bottom: 20px;
    background: #fff;
  }
}

textarea {
  border: 1px solid #ccc;
  padding: 6px 4px;
  outline: none;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #777;
  margin: 0;
  width: 210px;
  max-width: 100%;
  display: block;
  margin-bottom: 20px;
  background: #fff;
}

select {
  border: 1px solid #ccc;
  padding: 6px 4px;
  outline: none;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #777;
  margin: 0;
  width: 210px;
  max-width: 100%;
  display: block;
  margin-bottom: 20px;
  background: #fff;
  padding: 0;
}

input {
  &[type="text"]:focus, &[type="password"]:focus, &[type="email"]:focus {
    border: 1px solid #aaa;
    color: #444;
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  }
}

textarea {
  &:focus {
    border: 1px solid #aaa;
    color: #444;
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  }

  min-height: 60px;
}

label, legend {
  display: block;
  font-weight: bold;
  font-size: 13px;
}

select {
  width: 220px;
}

input[type="checkbox"] {
  display: inline;
}

label span, legend span {
  font-weight: normal;
  font-size: 13px;
  color: #444;
}

/* #Menu & Logo
================================================== */

.header {
  height: 100px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 40px;
  clear: both;
  margin-top: 40px;
}

.menu {
  padding-top: 45px;
  float: right;

  li {
    display: inline;
    list-style-type: none;
    font-size: 16px;
    padding-left: 5px;
  }
}

.logo a {
  text-decoration: none;
}

/* #Misc
================================================== */

.title {
  padding-bottom: 15px;
}

.full-width {
  padding-left: 10px;
}

 /* #Sidebar
================================================== */

.sidebar {
  font: 14px/1.5em "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;

  li {
    list-style: none;
  }
}


/* Start Customize & Styling website
================================================== */

body {
  font: 15px Helvetica, sans-serif, Arial;
  line-height: 1.5;
  font-weight: 600;
  position: relative;
  color: #565656;
  p {
    font-weight: normal;
  }
}

span.cp-works {
  font-size: 12px;
  position: relative;
  top: -20px;
  left: 5px;
}


/* Contents & Articles
================================================== */
section.content {
  width: 100%;
  min-height: 720px;
}

article {
  margin-top: 30px;
  padding: 15px;
}

h1.article-h1 {
  margin-bottom: 20px;
}

.tease {
  margin-top: 15px;
  padding: 20px;
  background: #f7f7f7;
  border-bottom: 4px solid #f4f4f4;
  border-bottom: 1;

  h2 a {
    text-decoration: none;
    border-left: 5px solid #858585;
    padding-left: 10px;
  }

  p {
    font-weight: normal;

    a {
      display: block !important;
      width: 110px;
      color: #616161 !important;
      margin-top: 10px;
      margin-bottom: 10px;
      border: 1px solid;
      padding-bottom: 5px;
      padding-top: 5px;
      text-align: center;
      font-size: 13px;
      text-decoration: none;
    }
  }
}

/* Navigation Desktop, Tablet & Mobile
================================================== */

.main-nav {
  display: none;
}

nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    display: inline-block;
  }

  a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
  }
}

.container-fluid.flex-parent {
  display: flex;
  padding: 0;
}

.header.vertical {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  clear: both;
}

.menu-vertical {
  background: #e2edf7;
  height: 100%;
}

.container-vertical {
  padding: 25px;
  padding-left: 20px;
  position: relative;
}

.flex-column li {
  margin-bottom: 0;
  line-height: 25px;
  width: 100%;

  a {
    &:hover {
      color: #0663bf!important;
      transition: 0.5s ease-in-out;
    }

    color: #312c27 !important;
    padding-left: 0;
    font-size: 14px;
    font-weight: 600;
    padding-top: 2px;
    text-decoration: none;
  }
}

img.head-logo {
  margin-bottom: 30px;
  margin-right: 20px;
  max-width: 165px;
  padding-right: 0;
}

.call-information {
  span {
    font-size: 13px;
    font-weight: 600;
    display: block;
    margin-bottom: 5px;

    a {
      text-decoration: none;

      &:hover {
        color: #565656;
        transition: 0.5s ease-in-out;
      }
    }
  }

  margin-bottom: 20px;
}

.navertical-flex-column {
  margin-top: 20px;
}

.call-to-book {
  a {
    text-decoration: none;
    font-style: italic;
    font-family: "Times New Roman";
    font-weight: 600;
    color: #fff;

    span {
      display: block;
    }
  }

  padding: 15px;
  background: #004487;
  position: relative;
  left: -20px;
  margin-bottom: 15px;
  max-width: 205px;

  &:hover {
    background: #084b7d;
    transition: 0.5s ease-in-out;
  }

  &:before {
    content: "____";
    color: #005ab2;
    position: absolute;
    left: 0px;
    top: 7px;
    height: 20px;
    border-bottom: 1px solid #ffffff;
  }

  &:after {
    content: "o";
    color: #fff;
    font-size: 10px;
    position: absolute;
    right: 22px;
    top: 20px;
  }
}

span {
  &.headline-btn {
    font-size: 14px;
    margin-left: 30px;
  }

  &.subline-btn {
    font-size: 12px;
    margin-left: 30px;
  }
}

.featured-partners {
  div {
    display: flex;
    justify-content: space-evenly;
      .Partners2 {
        width: 300px;
      }
      .Partners1 {
        width: 300px;
        margin-top: 10px;
      }
    img {
      max-width: 55px;
      height: auto;
      
    }
  }

  margin-top: 10px;
  border-top: 1px solid #d6d6d6;
}

.container-fluid.hero-cont {
  padding: 0;
}

.call-to-book.hamburger-horizontal {
  padding: 15px;
  background: #004487;
  position: relative;
  left: 0;
  margin-bottom: -10px;
  max-width: 100%;
  width: 40%;
}

.container-fluid.hamburger-section-horizontal {
  padding: 0;
  margin-top: -10px;
}

.hamburger-section-horizontal button {
  margin-right: 10px;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

.hamburger-section-horizontal .head-logo {
  margin-bottom: 10px;
  padding-top: 20px;
  margin-left: 10px;
  width: 120px;
}

ul.horizontal-menu li {
  a:before {
    content: '➤ ';
    font-size: 10px;
    color: #004487;
    position: relative;
    top: -1px;
    padding-right: 5px;
  }

  border-bottom: 1px solid #ffffff;
  width: 100%;
  padding-top: 10px;
}

.call-information.hamburger-horizontal {
  width: 60%;
  margin-bottom: 0;
  background: #ebebeb;
  padding: 15px;
  margin-bottom: -10px;

  span {
    margin-bottom: 0;

    a {
      margin-bottom: 0;
      padding-bottom: 0;
    }

    &:nth-child(1) a:before {
      content: '☎';
      padding-right: 5px;
      color: #000;
    }

    &:nth-child(2) a:before {
      content: '✉';
      padding-right: 5px;
      color: #000;
    }
  }
}

.mobile-cont {
  display: flex;
}

/* Hero Banner
================================================== */

/* Headline Section
================================================== */

.headline-cont {
  background: #f4f4f4;
  padding: 20px;
  padding-top: 40px;
  margin-top: -40px;
  max-width: 860px;
  margin-left: auto;
  margin-right: auto;
  position: relative;

  h1 {
    color: #004487;
    font-style: italic;
    margin-bottom: 15px;
    font-size: 50px;
  }
}

/* Featured Article
================================================== */

section.Featured-Article {
  margin-top: 30px;
}

.featured-cont {
  display: flex;

  div {
    width: 50%;
    padding: 20px;

    * {
      display: block;
    }
  }

  h3 {
    margin-top: 20px;
    font-family: Helvetica, sans-serif, Arial;
    font-weight: 600;
    white-space: nowrap;
    color: #004487;
  }

  small {
    margin-bottom: 20px;
    position: relative;
    font-size: 14px;
    position: relative;
    font-weight: 600;
  }

  span {
    font-size: 12px;
    font-style: italic;
    margin-bottom: 10px;
    color: #2a2d37;
    font-weight: 600;
    position: relative;
  }

  p {
    max-width: 90%;
  }

  small:before {
    content: '<';
    font-weight: 600;
    padding-right: 10px;
  }

  span:before {
    content: '____';
    padding-right: 15px;
    position: relative;
    top: -7px;
  }

  a {
    text-decoration: none;
    margin-top: -5px;
    font-size: 14px;

    &:before {
      content: '<';
      padding-right: 10px;
    }
  }
}

/* Two Featured Article
================================================== */

.container.two-cols {
  display: flex;
}

.featured-cont {
  &.cols {
    width: 50%;

    .col-sec.alt {
      text-align: right;
    }
  }

  .col-sec.alt {
    small {
      &:after {
        content: '>';
        font-weight: 600;
        padding-left: 10px;
      }

      &:before {
        display: none;
      }
    }

    span {
      &:after {
        content: '____';
        padding-left: 15px;
        position: relative;
        top: -7px;
      }

      &:before {
        display: none;
      }
    }
  }
}

/* Contact Form 
================================================== */

.featured-cont-form {
  margin-top: 30px;
  display: flex;

  div {
    width: 50%;
  }
}

span.checkbox {
  display: flex;
  align-items: center;
  font-size: 11px;

  label {
    font-size: 11px;
  }
}

.contact-bg {
  padding: 20px;
  background: #004487;
  color: #fff;
  width: 100% !important;
}

.col-first.red {
  width: 40%;
  background: #004487;
  margin-right: 10%;
  margin-left: 20px;
}

.contact-bg {
  h4 {
    margin-top: 0px;
    font-family: Helvetica, sans-serif, Arial;
    font-weight: 600;
    white-space: nowrap;
    color: #ffffff;
    margin-bottom: 10px;
  }

  p {
    font-size: 14px;
    margin-bottom: 15px;
  }

  input[type="text"] {
    width: 100%;
  }

  label {
    font-size: 15px;
    margin-bottom: 5px;
  }
}

span.checkbox label {
  margin-bottom: 0;
  margin-left: 5px;
}

.contact-bg input[type="submit"] {
  background: #d1c686;
  border: 0;
  color: #fff;
  padding: 10px;
  width: 40%;
}

/* Image Gallery
================================================== */

.col-sec.img-gallery {
  h4 {
    font-family: Helvetica, sans-serif, Arial;
    font-weight: 600;
    white-space: nowrap;
    margin-bottom: 10px;
    color: #004487;
  }

  p {
    font-size: 14px;
  }
}

.img-grid-randon {
  display: flex;
  flex-wrap: wrap;

  img {
    width: 30%;
    padding: 5px;
  }

  width: 100% !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.col-sec.img-gallery {
  background: #f4f4f4;
  width: 60%;
  padding: 20px;

  h4, p {
    margin-left: 10px;
  }
}

/* Image Gallery
================================================== */

.social-icons {
  display: flex;

  a svg {
    width: 25px;
    height: 15px;
    color: #fff;
    fill: #fff !important;
  }
}

.social-cont h5 {
  margin-top: 0px;
  font-family: Helvetica, sans-serif, Arial;
  white-space: nowrap;
  color: #ffffff;
  margin-bottom: 5px;
}

/* Footer CSS
================================================== */

ul#menu-footer {
  padding-top: 10px;
  display: block;
  width: 100%;

  li {
    a {
      text-decoration: none;
      font-size: 14px;
      font-weight: 300;

      &:after {
        content: '|';
        margin-left: 10px;
      }
    }

    display: inline-block;
  }
}

.wp-block-group__inner-container {
  position: relative;
  left: 20px;
}

span.Footerinfo {
  font-size: 12px;
  margin-top: -38px !important;
  padding: 0px;
  position: relative;
  top: -23px;
}

.footer {
  margin-top: 30px;
}

/* Responsive CSS
================================================== */

@media (max-width: 767px) {
  .menu-vertical {
    display: none;
  }

  .main-nav, .container-fluid.flex-parent {
    display: block;
  }
}

@media screen and (max-width: 480px) {
  .mobile-cont {
    display: flex;
    flex-direction: column;

    div {
      width: 100% !important;

      &:nth-child(2) {
        margin-top: 10px;
      }
    }
  }

  .navbar-brand {
    margin-right: 0;
  }

  nav a {
    padding: 0;
  }

  .country-cards {
    flex-direction: column;

    div {
      width: 100% !important;
      padding-top: 20px;
    }
  }
}

.container {
  max-width: 960px !important;
}

@media (min-width: 768px) {
  .navbar-collapse {
    flex-basis: 0 !important;
    flex-grow: 0 !important;
    align-items: center;
  }
}

@media (max-width: 768px) {
  div#main-menu {
    padding: 20px;
    background: #e2edf7;
    height: 100%;
  }

  .featured-cont-form, .featured-cont {
    flex-direction: column;
  }

  .featured-cont-form div {
    width: 100% !important;
    margin-top: 20px;
    margin-left: 0 !important;
    flex-direction: column;
  }

  .img-grid-randon, .social-icons {
    flex-direction: row !important;
  }

  .featured-cont div {
    width: 100%;
    margin-top: -15px !important;
  }
}

@media only screen and (max-width: 480px) {
  .container {
    width: 320px !important;
  }
}