
    <div class="footer">
       <hr />
        <div class="container">
            {{ footer_widgets }}
            <span class="cp-works">Copyright {{"now"|date('Y')}}  | Dev works by: Juross Madrid @ <a href="https://github.com/juross14"> Github </a>
    </div>
 