{% extends "base.twig" %}

{% block content %}
	<div class="container blog-posts">
		<article>
		<h1 class="article-h1">Latest Blog</h1>
			{% for post in posts %}
				{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
			{% endfor %}
		</article>
	</div>
{% endblock %}
